body {
  font-weight: 600;
  font-family: sans-serif;
  background: #000000 !important;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.inner {
  width: 100%;
  margin: auto;
  padding: 90px 55px 65px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.form-padd {
  padding-top: 50px !important;
}
.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}
label {
  padding: 10px 0px 10px 0px;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 700;
}
li .nav-item {
  text-align: center;
}
.btn-a {
  color: white;
  text-decoration: none;
}
li:nth-child(3) {
  color: red;
}
.form-control2 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "poppins";
  color: #495057;
  background-color: transparent !important ;
  background-clip: padding-box;
  border-bottom: 1px solid #707070 !important;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input {
  border: none;
}
::placeholder {
  text-align: left;
  font: normal normal normal 17px/26px Poppins;
  letter-spacing: 0px;
  font-family: "poppins";
  color: #fafafa;
  opacity: 0.5;
}
.btn-sign {
  border: 1px solid #707070;
  background: transparent;
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  font: normal normal normal 17px Poppins;
  letter-spacing: 0px;
  color: #fafafa;
  opacity: 1;
}
.forgot-password {
  text-align: center;
  text-decoration: none;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0px;
  color: #fafafa;
  padding: 1rem;
  opacity: 1;
}
.space {
  padding-top: 1rem;
}
.signup {
  color: white;
  text-decoration: none;
}
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
  ----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  background: #47515c 0% 0% no-repeat padding-box;
  border-radius: 34px;
  opacity: 1;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #47515c 0% 0% no-repeat padding-box;
  border-radius: 34px;
  opacity: 1;
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
ul.CTAs {
  padding: 20px;
}
ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386d5;
}
a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
  ----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
  ----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
/* ..../card.../ */
.cardbox {
  background: #47515c !important;
  color: #ffffff;
  padding: 5px;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 15px !important;
}
.form-control3 {
  border: 1px solid #979ba2;
  border-radius: 13px;
  opacity: 1;
  background: transparent !important;
  width: 100%;
  padding: 10px;
}
.est {
  text-align: left;
  font-family: "Poppins";
  font-size: 14px;
  letter-spacing: 0px;
  color: #a0a5ab;
  opacity: 1;
}
.place::placeholder {
  font-size: 10px !important;
}
.new {
  padding-top: 50px;
}
.cinvoice {
  font-family: "poppins";
  color: black;
  font-size: 14px;
  font-weight: 900;
  text-decoration: underline;
}
/* ...checkbox... */
.round {
  position: relative;
}
.round label {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: relative;
  top: 20px;
  width: 28px;
}
.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}
.round input[type="checkbox"] {
  visibility: hidden;
}
.round input[type="checkbox"]:checked + label {
  background-color: transparent;
  border-color: #ccc;
}
.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.img-black {
  margin-top: -3rem;
}
.nam {
  color: black !important;
  font-size: 16px !important;
  font-family: "poppins";
  font-weight: 990 !important;
}
.semicircle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 70px;
  border-radius: 0 0 150px 150px ;
  background-color: black;
}
.cardboxblue {
  background: transparent linear-gradient(180deg, #388EE9 0%, #37FEEF 100%) 0% 0% no-repeat padding-box;
  color: #ffffff;
  padding: 5px;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 15px !important;
}
a.text-left {
  color: white;
}
